In [20]:
import pandas as pd
df = pd.read_csv(r"central_park_weather.csv")
df.head(5)
     # first 2 rows

,STATION,NAME,DATE,AWND,PRCP,SNOW,SNWD,TMAX,TMIN
0,USW00094728,"NY CITY CENTRAL PARK, NY US",2009-01-01,11.18,0.0,0.0,0.0,26,15
1,USW00094728,"NY CITY CENTRAL PARK, NY US",2009-01-02,6.26,0.0,0.0,0.0,34,23
2,USW00094728,"NY CITY CENTRAL PARK, NY US",2009-01-03,10.07,0.0,0.0,0.0,38,29
3,USW00094728,"NY CITY CENTRAL PARK, NY US",2009-01-04,7.61,0.0,0.0,0.0,42,25
4,USW00094728,"NY CITY CENTRAL PARK, NY US",2009-01-05,6.93,0.0,0.0,0.0,43,38

In [21]:
print(df.head(2))

       STATION                         NAME        DATE   AWND  PRCP  SNOW  \
0  USW00094728  NY CITY CENTRAL PARK, NY US  2009-01-01  11.18   0.0   0.0
1  USW00094728  NY CITY CENTRAL PARK, NY US  2009-01-02   6.26   0.0   0.0

   SNWD  TMAX  TMIN
0   0.0    26    15
1   0.0    34    23

In [14]:
df.tail(2)

,STATION,NAME,DATE,AWND,PRCP,SNOW,SNWD,TMAX,TMIN
5536,USW00094728,"NY CITY CENTRAL PARK, NY US",2024-02-28,7.61,0.17,0.0,0.0,62,44
5537,USW00094728,"NY CITY CENTRAL PARK, NY US",2024-02-29,10.07,0.00,0.0,0.0,43,31

print(df.info())        # column types
print(df.describe())    # statistics